<section class="thirteen columns">
    <h1>Papers</h1>
    <article>
        <header>
            <h1><a href="#">Pyramid Stereo Matching Network</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Under submission</em>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://arxiv.org/pdf/1709.10282.pdf">Deep Competitive Pathway Networks</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>Asian Conference on Machine Learning (ACML) 2017</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/CoPaNet">
            <em>[code repository]</em>
        </a></p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.dropbox.com/s/yb03ej5xte8d9gj/ICMLworkshop2016.pdf">Batch-normalized maxout network in network</a></h1>
            <span>Jia-Ren Chang*, Yong-Sheng Chen</span>
        </header>
        <p>
            <em>ICML visualization workshop 2016</em>
        </p>
        <p><a href="https://github.com/JiaRenChang/Batch_Normalized_Maxout_NIN">
            <em>[code repository]</em>
        </a></p>
    </article> 
    <article>
        <header>
            <h1><a href="https://www.ncbi.nlm.nih.gov/pubmed/25026532">Inefficiency of post-error adjustment in impulsive violent offenders</a></h1>
            <span>Chiao-Yun Chen, Neil G Muggleton, Jia-Ren Chang*</span>
        </header>
        <p>
            <em>NeuroReport, 5(13), 1024-1029, 2014</em>
        </p>
    </article>
</section>
