<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
    <header>
            <h1>PhD</h1>
            <span><address>National Chiao Tung University</address><time>2011-now</time></span>
        </header>
        <p>
            Department of Computer Science
        </p>
    </article>  
    <article>
        <header>
            <h1>Mandatory Military service</h1>
            <span><address>269 Regiment</address><time>2009-2010</time></span>
        </header>
        <p>
            Armored military vehicles driver
        </p>
    </article> 
    <article>
        <header>
            <h1>Graduate</h1>
            <span><address>National Yang-Ming University</address><time>2008-2009</time></span>
        </header>
        <p>
            Institute of Neuroscience
        </p>
    </article>    
    <article>
        <header>
            <h1>Undergraduate</h1>
            <span><address>Chung Shan Medical University</address><time>2004-2008</time></span>
        </header>
        <p>
            Department of Psychology
        </p>
    </article>
</section>
